<div style="height: 100%; width: 100%; box-sizing: border-box;">
  <mat-card
    style="height: 100%; width: 100%; box-sizing: border-box; padding:0"
  >
    <s3-file-explorer
      [fileElements]="fileElements | async"
      [path]="currentPath"
      [canNavigateUp]="canNavigateUp"
      (folderAdded)="addFolder($event)"
      (elementRemoved)="removeElement($event)"
      (navigatedDown)="navigateToFolder($event)"
      (navigatedUp)="navigateUp()"
      (elementRenamed)="renameElement($event)"
      (elementMoved)="moveElement($event)"
    >
    </s3-file-explorer>
  </mat-card>
</div>
