<div style="height: 100%; width: 100%; box-sizing: border-box;">
  <mat-card
    style="height: 100%; width: 100%; box-sizing: border-box; padding:0"
  >
    <rms-file-explorer
      [fileElements]="files$ | async"
      [path]="currentPath"
      [canNavigateUp]="canNavigateUp"
      (folderAdded)="addFolder($event)"
      (elementRemoved)="removeElement($event)"
      (navigatedDown)="navigateToFolder($event)"
      (navigatedUp)="navigateUp()"
      (elementRenamed)="renameElement($event)"
      (elementMoved)="moveElement($event)"
      (filesUploaded)="filesUploaded($event)"
      (fileSelected)="fileSelected($event)"
      (encryptEmitter)="encrypt($event)"
      (decryptEmitter)="decrypt($event)"
    >
    </rms-file-explorer>
  </mat-card>
</div>
