<mat-toolbar>
  <span>Lazy Load</span>
</mat-toolbar>
<div style="height: 300px;">
  Lazy load on button click to a container
  <div>
    <button mat-raised-button color="accent" (click)='getLazy1()'>load part 1</button>
    <button mat-raised-button color="accent" (click)='getLazy2()'>load part 2</button>
  </div>
  <div #btnContainer>
  </div>
</div>

<div style="height: 300px; padding-top: 30px;">
  Lazy load tab content
  <mat-tab-group backgroundColor="accent" (selectedTabChange)="tabSelectionChanged($event)">
    <mat-tab label="First">
      <ng-template matTabContent>
        <div #container1>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Grid">
      <ng-template matTabContent>
        <div #container2>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="File Explorer">
      <ng-template matTabContent>
        <div #container3>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>