<div fxLayout="column" fxLayoutGap="40px">
  <mat-toolbar>
    <span>Lazy Load</span>
  </mat-toolbar>
  <div>
    Lazy load from a route
    <button mat-raised-button color="accent" routerLink="/routeTwo">
      lazy route
    </button>
  </div>
  <div fxLayout="column" fxLayoutGap="10px">
    Lazy load on button click to a container
    <div fxLayout="row" fxLayoutGap="40px">
      <button mat-raised-button color="accent" (click)="lazyLoadPart2()">
        load part 1
      </button>
      <button mat-raised-button color="accent" (click)="lazyLoadPart3()">
        load part 2
      </button>
    </div>
    <div #btnContainer></div>
  </div>

  <div>
    Lazy load tab content
    <mat-tab-group
      backgroundColor="accent"
      (selectedTabChange)="tabSelectionChanged($event)"
    >
      <mat-tab label="First">
        <ng-template matTabContent>
          <div #container1></div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Grid">
        <ng-template matTabContent>
          <div #container2></div>
        </ng-template>
      </mat-tab>
      <mat-tab label="File Explorer">
        <ng-template matTabContent>
          <div #container3></div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
