<div class="modalContainer" fxLayout="column" fxLayoutAlign="space-between start">
  <div class="header-bar" fxLayout="row" fxLayoutAlign="space-between start">
    <h1>Set System Rule Priority</h1>
    <button mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between start" style="height: 80%; width: 100%">
    <div class="main" fxLayout="column" fxLayoutAlign="space-between start">
      <form class="example-form" [formGroup]="form">
        <div cdkDropList (cdkDropListDropped)="drop($event)" class="example-list">
          <div formArrayName="items"
               *ngFor="let item of form.get('items')['controls']; let i = index; let first = first; let last = last"
               cdkDrag
               class="example-box">
            <mat-card fxLayout="row" class="full-width">
              <div class="drag-placeholder" *cdkDragPlaceholder></div>
              <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-icon-button type="button" [matMenuTriggerFor]="moveMenu">
                  <mat-icon cdkDragHandle class="dragable">swap_vert</mat-icon>
                </button>
                <mat-menu #moveMenu="matMenu">
                  <button mat-menu-item (click)="moveUp(i)">Move Up</button>
                  <button mat-menu-item (click)="moveDown(i)">Move Down</button>
                </mat-menu>
              </div>
              <mat-divider vertical="true" style="margin-right: 10px;"></mat-divider>
              <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-around center" class="full-width">
                <mat-icon *ngIf="!first && !last" style="width: 5%"></mat-icon>
                <mat-icon *ngIf="first" matTooltip="Highest priority rule" style="width: 5%">priority_high</mat-icon>
                <mat-icon *ngIf="last" matTooltip="Default rule - If no other rules match, the default actions will be applied." style="width: 5%">info</mat-icon>
                <mat-form-field style="width: 5%">
                  <mat-label> Rule ID</mat-label>
                  <input matInput formControlName="ruleId" readonly/>
                </mat-form-field>
                <mat-form-field style="width: 80%">
                  <mat-label>Rule Description</mat-label>
                  <input matInput formControlName="ruleDescription" readonly/>
                </mat-form-field>
              </div>
            </mat-card>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button mat-raised-button (click)="saveOrder()" color="accent">
    <mat-icon>save</mat-icon>
    Save Order
  </button>
</div>
