.modalContainer{
  height: 100%;
}

.header-bar {
  margin-bottom: 15px;
  height: 100%;
}

::ng-deep .mat-tab-labels {
  justify-content: center;
}

::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}

::ng-deep .mat-tab-group {
  overflow: hidden;
}
